<section class="p-2">
  <label>Server name is {{ serverName }} </label>
  <input
    type="text"
    class="form-control"
    (input)="onUpdateServerName($event)"
  />
  <h1>I'm in the servers component</h1>
  <p>Below this I have 2 server components</p>
  <button
    [disabled]="!allowNewServer"
    (click)="onCreateServer()"
    class="btn btn-secondary mb-2"
  >
    Add server
  </button>
  <!-- <p>{{ allowNewServer }}</p>
  <p>{{ serverCreationStatus }}</p> -->
  <p *ngIf="serverCreated">
    Server was created! Server name is {{ serverName }}
  </p>
  <app-server></app-server>
  <app-server></app-server>
</section>
