<section
  class="bg-neutral-800 p-3 text-neutral-300 rounded-lg shadow-lg shadow-neutral-700"
>
  <label class="mb-2">Server name </label>
  <input
    type="text"
    class="bg-gray-200 border-2 border-gray-200 rounded py-2 px-4 text-gray-700 focus:outline-none focus:bg-white focus:border-purple-500 mb-3"
    [(ngModel)]="serverName"
  />
  <h1 class="mb-3 text-2xl">I'm in the servers component</h1>

  <button
    [disabled]="!allowNewServer"
    (click)="onCreateServer()"
    class="bg-blue-500 p-2 rounded-lg text-neutral-100 shadow mb-3 hover:bg-blue-600"
  >
    Add server
  </button>

  <p class="mb-2" *ngIf="serverCreated">
    Server was created! Server name is {{ serverName }}
  </p>
  <app-server *ngFor="let server of servers"></app-server>
</section>
